<main>
  <!-- card vertical -->
  <section>
    <article class="vertical">

      <div class="card card-vertical">
        <div class="card-image">
        </div>
        <div class="card-text">
          <p>"Plugin works flawlessly! The easiest pricing plugin l've ever come across! The UI is absolutely intuitive,
            and it's super-easy to install, too! Thumbs up for Elfsight!"</p>
        </div>
        <div class="card-data">
          <p>Marva Flores</p>
          <span>Surgical technician</span>
          <div class="logo">
            <img src="../assets/img/logo.png" alt="logo">
          </div>
        </div>
      </div>

      <div class="name-card">
        <p>vertical</p>
      </div>

    </article>
  </section>
  <section>
    <!-- card default -->
    <article class="default">

      <div class="name-card">
        <p>default</p>
      </div>

      <div class="card card-default">
        <div class="card-image">
        </div>
        <div class="card-body">
          <div class="card-text">
            <p>"Plugin works flawlessly! The easiest pricing plugin l've ever come across! The UI is absolutely
              intuitive,
              and it's super-easy to install, too! Thumbs up for Elfsight!"</p>
          </div>
          <div class="card-data">
            <p>Marva Flores</p>
            <span>Surgical technician</span>
            <div class="logo">
              <img src="../assets/img/logo.png" alt="logo">
            </div>
          </div>
        </div>
      </div>

    </article>
    <!-- card persona -->
    <article class="persona">

      <div class="name-card">
        <p>persona-card</p>
      </div>

      <div class="card card-persona">
        <div class="card-image">
        </div>
        <div class="card-data">
          <p>Marva Flores</p>
          <span>Surgical technician</span>
          <div class="logo">
            <img src="../assets/img/logo.png" alt="logo">
          </div>
        </div>
        <div class="card-text">
          <p>"Plugin works flawlessly! The easiest pricing plugin l've ever come across! The UI is absolutely intuitive,
            and it's super-easy to install, too! Thumbs up for Elfsight!"</p>
        </div>
      </div>

    </article>
    <!-- card vertical small rounded image -->
    <article class="vertical-small">

      <div class="card card-vertical-small">
        <div class="card-image">
        </div>
        <div class="card-text">
          <p>"Plugin works flawlessly! The easiest pricing plugin l've ever come across! The UI is absolutely intuitive,
            and it's super-easy to install, too! Thumbs up for Elfsight!"</p>
        </div>
        <div class="card-data">
          <p>Marva Flores</p>
          <span>Surgical technician</span>
          <div class="logo">
            <img src="../assets/img/logo.png" alt="logo">
          </div>
        </div>
      </div>

      <div class="name-card">
        <p> vertical small <br>
          rounded image</p>
      </div>

    </article>

  </section>
  <section>
    <!-- card persona inverted -->
    <article class="persona-inverted">

      <div class="name-card">
        <p>persona-card <br>inverted</p>
      </div>

      <div class="card card-persona-inverted">
        <div class="dialog">
          <div class="card-text">
            <p>"Plugin works flawlessly! The easiest pricing plugin l've ever come across! The UI is absolutely
              intuitive,
              and it's super-easy to install, too! Thumbs up for Elfsight!"</p>
          </div>
        </div>
        <div class="card-image">
        </div>
        <div class="card-data">
          <p>Marva Flores</p>
          <span>Surgical technician</span>
          <div class="logo">
            <img src="../assets/img/logo.png" alt="logo">
          </div>
        </div>
      </div>

    </article>
    <!-- card default small rounded image -->
    <article class="default-small">

      <div class="card card-default-small">
        <div class="card-image">
        </div>
        <div class="card-body">
          <div class="card-text">
            <p>"Plugin works flawlessly! The easiest pricing plugin l've ever come across! The UI is absolutely
              intuitive,
              and it's super-easy to install, too! Thumbs up for Elfsight!"</p>
          </div>
          <div class="card-data">
            <p>Marva Flores</p>
            <span>Surgical technician</span>
            <div class="logo">
              <img src="../assets/img/logo.png" alt="logo">
            </div>
          </div>
        </div>
      </div>

      <div class="name-card">
        <p>default small <br> rounded image</p>
      </div>

    </article>
  </section>

</main>